{% extends "misc/base.html" %}
 {% block body %}

 <body>
 <br><br><br><br><br>
<center>
    <h1 class="letras">Ponte en contacto con nosotros</h1>
    <h3 class="letras1">Déjanos tus datos y pronto nos comunicaremos contigo para resolver tus comentarios.</h3><br><br>
    </center>
 <center>
<div class="form">
    
    <form actions="" method="POST" >
        {% csrf_token %}
        {{form.non_field_errors}}<br>
        Nombre:
        <div>
            {{ form.nombre.errors }}
            {{form.nombre}}
        </div>
        Email:
        <div>
            {{ form.email.errors }}
            {{form.email}}
        </div>
        Telefono:
        <div>
            {{ form.phone.errors }}
            {{form.phone}}
        </div>
        Empresa:
        <div>
            {{ form.empresa.errors }}
            {{form.empresa}}
        </div>
        Extension:
        <div>
            {{ form.extension.errors }}
            {{form.extension}}
        </div>
        Descripcion:
        <div>
            {{ form.descripcion.errors }}
            {{form.descripcion}}
        </div><br>
        <button class="btnenvd" type="submit">Enviar datos</button>
</div>
</center> <br><br><br><br><br><br>
<div style="display:flex; justify-content:space-around; text-align:center; font-size:70%;">
<h1 style="color:#E4971F;">MATRIZ TIJUANA<br><p style="color:black;">Calle 33 Sur, #33 Pinos Aguero,<br>
    Tijuana B.C. , C.P. 22116<br>
    gerencia.ventas@innovative-net.mx<br>
    info@innovative-net.mx<br>
    +52 664 200 2140</p></h1>
    <h1 style="color:#E4971F;">SUCURSAL MEXICALI<br><p style="color:black;">Intermedia 3798, Bugambilias,<br>
        Mexicali B.C., C.P. 21399<br>
        gerencia.ventas@innovative-net.mx<br>
        +52 686 842 9676<br></p></h1>
</div>
<div style="display:flex; justify-content:space-around;">

    <div id="map" style="width:48%; height:450px;"></div>
 
    <div id="map2" style="width:48%; height:450px;"></div>
</div>
    <script>
      var map, map2;
      function initMap() {
    
        var coord= {lat:32.4837952 ,lng: -116.9475872},
        map = new google.maps.Map(document.getElementById('map'), {
          center: coord,
          zoom: 10
        });
         new google.maps.Marker({
        position: coord,
        map: map,
        title: "Innovative net Tijuana",
      });
    var coorden= {lat:32.6000276, lng: -115.3721117},
    map2 = new google.maps.Map(document.getElementById('map2'), {
      center: coorden,
      zoom: 10
    });
    var marker = new google.maps.Marker({
      position: coorden,
      title: "Innovative net Mexicali",
    });
    marker.setMap(map2);
    }
    
    
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap">
    </script><br><br>



<style>
    
    .letras{
        font-size:150%;
    }
    .letras1{
        font-size:100%;
    }
    body{
        background:#F1F7ED;
    }
.form{
    border-radius: 33px;
    background: linear-gradient(#F1F7ED, #F1F7ED);
    box-shadow:  30px 30px 50px #529ed0,
    -30px -30px 50px #70d6ff;
    width:360px;
    border: 3px solid white;
    }
.btnenvd{
    background:black;
    width:34%;
    color:white;
    border-radius:20px;
    border:2px solid white;
}

</style>
 


 {% endblock %}