{% load static %}

<body class="fondoerror">
  <br><br>
<center>
  <div class="propio" >
    <img src="static/css/img/iconoerror.png">
 
     <p class="cookieHeading">Ups algo salio mal</p>
     <p class="cookieDescription">Algo salio mal al enviar tus datos, intentalo nuevamente o si persiste el problema intentalo más tarde.</p>
   
     <div class="buttonContainer">
      <a href="{% url "contacto" %}" ><button class="acceptButton">Intentar nuevamente</button></a>
      <a  href="{% url "inicio" %}  "> <button class="declineButton">Intentar más tarde</button> </a>
     </div>
     
   
   </div>
   
  </center>


</body>
<style>
  .propio{
    width: 70%;
    height: 600px;
    margin-top: 10%;
    background-color: #fff;
    display:flex ;
    border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  position: relative;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  }
 

.fondoerror{
    
     background-image: url(static/css/img/fondoerror.svg);
     background-size: cover;
     background-repeat: no-repeat;
     height: auto;
     width: 100%;
    }



.cookieHeading {
  font-size: 4.5em;
  font-weight: 700;
  color: red;
}

.cookieDescription {
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  color: rgb(99, 99, 99);
}





.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.acceptButton {
  width: 150px;
  height: 50px;
  background-color: #628395;
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px #977ef3, 0 2px 4px -1px #977ef3;
  transition: all .6s ease;
}

.declineButton {
  width: 150px;
  height: 50px;
  background-color: #F1F7ED;
  transition-duration: .2s;
  color: rgb(46, 46, 46);
  border: none;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
  transition: all .6s ease;
}

.declineButton:hover {
  background-color: #ebebeb;
  box-shadow: 0 10px 15px -3px #bebdbd, 0 4px 6px -2px #bebdbd;
  transition-duration: .2s;
}

.acceptButton:hover {
  background-color: #9173ff;
  box-shadow: 0 10px 15px -3px #977ef3, 0 4px 6px -2px #977ef3;
  transition-duration: .2s;
}

@media(max-width:600px){
  .propio{
width: 500%;
background-color: black;
  }
}
</style>






