{% extends "misc/base.html" %}
{% block body %}

<div id="section1" class="img_index">
<br><br><br>

    <div class="texto">INNOVATIVE- <br>NET</div>

    <P> Ofrecemos soluciones de ingeniería de altos estándares tecnológicos,<br> con tiempos de entrega excepcionales, calidad y vanguardia tecnológica</P>

    <a href="{% url "contacto" %}" ><button type="button" class="btnindex">Contactanos</button></a>

  </div>
  
<div id="section2" class="servicios">
<br>

    <h1 class="serv">SERVICIOS</h1>

  <section class="content2">

      <div class="scroll-content2 fadeTop1"><img class="imgcolmenaanserv" src="static/css/img/colmenaan.jpg" alt=""></div>

  </section>

  <section class="content">
  
      <div class="scroll-content fadeTop"><img class="a" src="static/css/img/hexagonorMO.png" alt=""><p class="phex-a">Accesos controlados inteligentes.</p>
      
      <div class="scroll-content fadeTop"><img class="b" src="static/css/img/hexagonorR.png" alt=""><p  class="phex-b">Redes de datos inalambricas wifi, Punto a punto y punto multipunto.</p>
  
      <div class="scroll-content fadeTop"><img class="c" src="static/css/img/hexagonorM.png" alt=""><p class="phex-c">Alarmas de deteccion de fuego y agentes limpios.</p>
  
      <div class="scroll-content3 fadeTop3"><img class="d" src="static/css/img/hexagonorrojo.png" alt=""><p class="phex-d">Infraestructura de Red de Datos.</p></div>
  
      <div class="scroll-content3 fadeTop3"><img class="e" src="static/css/img/hexagonorN.png" alt=""><p  class="phex-e">Video Vigilancia CCTV, analiticos e inteligencia artificial.</p></div>

      <div class="scroll-content3 fadeTop3"><img class="f" src="static/css/img/hexagonorA.png" alt=""><p class="phex-f">Telefonia , Comunicaciones de Voz IP, sistemas de Audio y video.</p></div>
     
  </section>

<div class="det_ser">

<br><br><br>
  <center>
  <section class="detserimg">

  <img src="static/css/img/redes_y_telecomunicaicones.png" alt="">
  <img src="static/css/img/electronica_seguridad.jpg" alt="">
  <img src="static/css/img/sala_multimedia.png" alt="">

  </section>
  </center> 
<br><br><br>

  <div class="inf-ser">

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        It was popularised in the 1960s with the release of Letraset sheets containing </p>

      <a href="{% url "contacto" %}"><button class="btn-sol">Solicitar cotización</button></a>
<br><br>

  </div>

</div>

<div id="section3" class="detnoso">

<div class="nos">

  <h1 class="hnos">NOSOTROS</h1>
<br><br><br>

  <p class="pnos">Las tecnologías que utilizamos respaldan nuestro trabajo y 
    aseguran un excelente servicio</p>
  <center>
<br><br><br>

<a href="{% url "objetivos" %}"><button class="butnos">OBJETIVOS</button></a>

  </center>
</div>
<br><br><br>
  
<div class="contdetnos">

  <h3 class="titapsobnons">ESPECIALIZADOS</h3>

  <img class="imgesp" src="static/css/img/especializados.jpg" alt="">

  <P class="letters">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </P>

</div>

<div class="impnos">

  <h3 class="titapsobnons">TE IMPULSAMOS A CRECER</h3>

  <img class="imgesp" src="static/css/img/impulnos.jpg" alt="">

  <P class="letters2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </P>

</div>

<div class="contdetnos">

  <h3  class="titapsobnons">PROVEEMOS</h3>

  <img class="imgesp"src="static/css/img/provnos.jpg" alt="">

  <P class="letters">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </P>
  <br><br>

</div>


<iframe width="100%" height="760px" src="https://www.youtube.com/embed/L6ti9P1SMVw" title="YouTube video player"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<script>

  window.addEventListener('scroll', function() {
    let elements = document.getElementsByClassName('scroll-content3');
    let screenSize = window.innerHeight;

    for (var i = 0; i < elements.length; i++) {
        var element = elements[i];

        if (element.getBoundingClientRect().top < screenSize) {

            element.classList.add('visible3');

        } else {

            element.classList.remove('visible3');

        }

    }

});

</script>

{% endblock %}