{% extends "misc/base2.html" %}

{% block body %}

<br>
<br>
<br><br><br><br><br><br><br>

<h1 style="color: white; text-align: center;"> Objetivos </h1>

<div style="margin-left:30px ;">

<div class="container1">
    <div class="card" id="card1">
      <img class="imgs1" src="static/css/mision.png" alt="">
      <div class="intro">
        <h1 class="hs1">MISION</h1>
        <p class="ps">Nuestro compromiso ofrecer soluciones en proyectos
            de ingeniería
            en
            telecomunicaciones y seguridad digital con altos estándares tecnológicos, con tiempos de entrega inmejorables, calidad excepcional, vanguardia tecnológica a precios competitivos, buscando siempre exceder las expectativas de nuestros clientes y amigos.</p>
        
      </div>
    </div>
   
    <div class="card">
      <img class="imgs1" src="static/css/vision.png" alt="">
      <div class="intro">
        <h1 class="hs1">VISION</h1>
        <p class="ps">a. Maximizar la rentabilidad del valor de las acciones de la empresa, sin perder de vista la totalidad de nuestra responsabilidad que ion nuestros dientes.<br>
            b. Trabajar todos los días en escalar nuestro reconocimiento tanto nacional como internacional como un excelente proveedor en el abanico de productos y servicios que ofrecemos.<br>
            c. mantener un crecimiento constante para cubrir a nivel nacional.<br>
            e internacional nuestros servicios.<br>
            d. Melora continua de tiempos de respuesta y atención en cada uno de los departamentos que integran la empresa hacia nuestros dientes en todos los aspectos, en el mínimo detalle.<br>
            e. Crear y reforzar alianzas estratégicas con nuestra cadena de proveedores buscando siempre el impacto de beneficio para la empresa, proveedores y para nuestros dientes y amigos.<br>
            f. Nuestro total compromiso de todo el perional de innovative-net de ser un ciudadano global, que respete las leyes de su ciudad, que aporte amabilidad a su comunidad, socialmente responsable, que contribuye y aporta para hacer un mundo mejor donde habitar.<br>
            g. Nuestro compromiso profesional por ser una empresa incluyente, con apego de todo el equipo Innovative-Net a políticas anticorrupción con cero tolerancia a malas prácticas.<br>
            h. Aportación de ideas constante para ser un excelente lugar para trabajar, en donde cada uno colabore en la inspiración para ser efectivo y dar lo mejor de sí tanto en lo personal como en equipo.</p>
        
      </div>
    </div>
 
    <div class="card">
      <img class="imgs1" src="static/css/valores.png" alt="valores">
      <div class="intro">
        <h1 class="hs1">VALORES</h1>
        <p class="ps">a. Integros: Ser auténticos e inquebrantables. <br>
            b. Respeto: con todos nuestro clientes, compañeros de trabajo y amigos. <br>
            c. Colaboración: ayudo y comparto conocimientos por que juntos somos más fuertes como equipo.<br>
            d. Eficacia: mantener una cultura de jerarquizar las actividades correctamente para completar el objetivo en menor tiempo.<br>
            e. Eficiencia: Dedicación y enfoque en cada actividad combinado las mejores prácticas para minimizar costos y tiempo en cada
            una de ellas. <br>
            f. Resilientes: hacer frente a los problemas, superar los obstáculo y no ceder a la presión sin importar la situación. <br>
            g. Responsable: dar por contabilizado las consecuencias positivas y negativas de tus deciiones y actos dando un pie al frente y aceptarlo, sin excusas o pretextos, pues no hay manera de crecer si de entrada los errores no son aceptados.<br>
            h. Pro-Activo: siempre en busca del Impacto positivo de lo que suceda en un futuro será en base a tus acciones o lo que dejaste de hacer. Siempre enfocado en Hacer que las cosas sucedan.</p>
        
      </div>
    </div>
  </div>
</div>




<body>
  <h1 style="color: white; text-align: center;"> Noticias </h1>
  <div class="container">
      <div class="caja" style="--clr: #009688">
          <div class="img-box">
            <img src="static/css/not1.png" alt="not1">  
          </div>
          <div class="content">
              <h2 class="leth2">INNOVATIVE-NET MEXICO SE MANTIENE COMO <br> SOCIO  ESTRATEGICO DE LEVITON EN EL <br> PROGRAMA DE CABLEADOS ESTRUCTURADOS CCS.</h2>
              <p>
                1 de Agosto 2020 <br>
                Certificado como socio Diamante, <br>  Innovative-net es un canal autorizado para diseñas e instalar<br>  sistema de cableado estructurado certificado Leviton <br>con Garantias de 25 años.
              </p>
              
          </div>
      </div>
      <div class="caja" style="--clr: #FF3E7F">
          <div class="img-box">
            <img src="static/css/not2.jpeg" alt="not2">  
          </div>
          <div class="content">
              <h2 class="leth2">INNOVATIVE-NET MÉXICO CERTIFICA  A SU <br> DEPARTAMENTO DE INGENIERÍA Y TÉCNICO <br> EN “PANDUIT ONE PARTNER PROGRAM”</h2>
              <p>
                30 de Junio 2020 <br> Como Integrador autorizado para proporcionar Diseño, <br> Desarrollo e Implementación de Infraestructura de red de <br>telecomunicaciones <br>para Edificios Comerciales e Industriales.
              </p>
              
          </div>
      </div>
      <div class="caja" style="--clr: #03A9F4">
          <div class="img-box">
            <img src="static/css/not3.png" alt="not3">
          </div>
          <div class="content">
              <h2 class="leth2">¿VIDEO DETECCION DE FIEBRE CON EL USO  <br>DE CASCO, CARETA Y CUBREBOCAS ES POSIBLE?</h2>
              <p>
                26 de Junio 2020 <br>¿Como puedo implementar cámaras de video de detección de fiebre <br>en ambientes donde se usa Casco de seguridad, cubre bocas  y <br> careta de filmina y no descartar esta tecnología?
              </p>
              
          </div>
      </div>
  </div>
  <h1 style="color: white; text-align: center;"> Nuestras certificaciones </h1>



  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="static/css/img_y_video/espacio.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/Alcatel.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/Seneca.png" height="60" width="150" style="margin-top: 20px;" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/Axis-Communications-Logo.png" height="60" width="150"  style="margin-top: 20px;"  alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/bogen.png" height="60" width="150"  style="margin-top: 20px;" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/kidde.jpg"height="100" width="150"  style="margin-bottom: 85px;" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/condunet.png" height="60" width="150"  style="margin-top: 20px;" alt="" />
      </div>
      <div class="slide"> 
        <img src="static/css/img_y_video/edwards-logo.png" height="60" width="150"  style="margin-top: 20px;" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/bcdvideo.png" height="50" width="150"  style="margin-top: 20px;" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/FireLite_Alarms.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/Galaxy_Control.png" height="100" width="200" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/Hanwha-Techwin.png"  height="60" width="150"  style="margin-top: 20px;"  alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/hubbell.png"  height="60" width="150"  style="margin-top: 20px;"  alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/LenelS2.png"  height="50" width="150"  style="margin-top: 30px;" alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/LevitonLogo.png"  height="50" width="150"  style="margin-top: 20px;"  alt="" />
      </div>
      <div class="slide">
        <img src="static/css/img_y_video/milestone.png" height="100" width="250" alt="" />
      </div>
    
      <div class="slide">
        <img src="static/css/img_y_video/panduit.png"  height="60" width="150"  style="margin-top: 20px;"  alt="" />
      </div>
     
    </div>
  </div>
<br>
<br>


</body>

<style>
 
    body{
      background-image:url(static/css/img/fondoobj.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
     .container1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .card{
        height: 100%;
        width: 388px;
        margin: 50px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
      }
      @media(max-width: 1000px){
        .card{
          height: auto;
          width: 388px;
          position:relative;
          margin: 50px;
          margin-left:6%;
          box-shadow: 5px 5px 20px black;
          overflow: hidden;
        }
    }
      @media(max-width: 480px){
        .card{
          height: auto;
          width: 388px;
          position:relative;
          margin: 50px;
          margin-left:15%;
          box-shadow: 5px 5px 20px black;
          overflow: hidden;
        }
    }
      .imgs1{
        height: 500%;
        width: 100%;
        border-radius:3px;
      }
      .intro{
        height: 70px;
        width: 100%;
        padding: 6px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        background: rgb(27, 27, 27, .5);
        color: white;
        transition: .5s;
      }
      .hs1{
        margin: 10px;
        font-size: 40px;
        }
        .ps{
          font-size: 7px;
          margin: 20px;
          visibility: hidden;
          opacity: 0;
        }
        span{
          font-weight: bold;
        }
        .card:hover{
          cursor: pointer;
          height: 400px;
        }
        .card:hover .intro{
          height: 400px;
          bottom: 600;
          background: black;
        }
        .card:hover .ps{
          opacity: 1;
          visibility: visible;
        } 
        .card:hover .imgs1{
          transform: scale(1.1) rotate(-3deg);
        }
       
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



        @media(max-width: 480px){
          .leth2{
            font-size: 8.7px;
            width:10%;
            text-align: right;
          }
      }
h2{
  font-size: 15px;
   text-align: right;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container .caja {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container .caja:hover {
    height: 300px;
}

.container .caja .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container .caja:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .caja .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .caja .content {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 40px;
    padding: 10 10px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
   
}

.container .caja:hover .content {
    top: 130px;
    height: 150px;
}

.container .caja .content h2 {
    color: var(--clr);
    white-space: nowrap;

}

.container .caja .content p {
    color: #333;
    font-size: 10px;
    white-space: nowrap;
}

.container .caja .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 800;
}

.container .caja .content a:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .container .caja {
        width: 230px;
        border-radius: 15px;
    }

    .container .caja .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container .caja .content p {
        font-size: 6.6px;
    }

    .container .caja .content a {
        font-size: 0.9rem;
    }
}




 @keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 17));
   }
  }



  /* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 20);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
</style>
{% endblock %}


