 {% extends "misc/base2.html" %}
{% block body %}
<div class="body_objetivos"> 
   
        <br><br><br><br><br><br><br>
        <h1 class="h1objetivos"> Objetivos </h1>

        <div class="container1">

                <div class="card" id="card1">
                        <img class="imgs1" src="static/css/mision.png" alt="">
                        <div class="intro">
                                <h1 class="hs1">MISION</h1>
                                <p class="ps">Nuestro compromiso ofrecer soluciones en proyectos de ingeniería en telecomunicaciones y seguridad digital con altos estándares tecnológicos, con tiempos de entrega inmejorables, calidad excepcional, vanguardia tecnológica a precios competitivos, buscando siempre exceder las expectativas de nuestros clientes y amigos.</p>
                        </div>
                </div>
   
                <div class="card">

                        <img class="imgs1" src="static/css/vision.png" alt="">
                        <div class="intro">
                                <h1 class="hs1">VISIÓN</h1>
                                <p class="ps">
                                        a. Maximizar la rentabilidad del valor de las acciones de la empresa, sin perder de vista la totalidad de nuestra responsabilidad con nuestros clientes. <br>
                                        b. Trabajar todos los días en escalar nuestro reconocimiento, tanto a nivel nacional como internacional, como un excelente proveedor en el abanico de productos y servicios que ofrecemos. <br>
                                        c. Mantener un crecimiento constante para cubrir el mercado a nivel nacional. <br>
                                        d. Internacionalizar nuestros servicios. <br>
                                        e. Mejorar continuamente los tiempos de respuesta y atención en cada uno de los departamentos que integran la empresa, garantizando la satisfacción de nuestros clientes en todos los aspectos y hasta en el mínimo detalle. <br>
                                        f. Crear y reforzar alianzas estratégicas con nuestra cadena de proveedores, buscando siempre un impacto positivo para la empresa, los proveedores y nuestros clientes y amigos. <br>
                                        g. Asumir el total compromiso de todo el personal de Innovative-Net de ser ciudadanos globales, respetar las leyes de nuestra ciudad, aportar amabilidad a la comunidad, ser socialmente responsables y contribuir a hacer un mundo mejor para habitar. <br>
                                        h. Mantener un compromiso profesional de ser una empresa incluyente, con todo el equipo de Innovative-Net apegado a políticas anticorrupción y con cero tolerancia a malas prácticas. <br>
                                        i. Fomentar la constante aportación de ideas para ser un excelente lugar para trabajar, en donde cada uno colabore inspirando a los demás para ser efectivos y dar lo mejor de sí, tanto en lo personal como en equipo.
                                </p>
                        </div>
                </div>
 
            <div class="card">
                                       <img class="imgs1" src="static/css/valores.png" alt="valores">
                        <div class="intro">
                                <h1 class="hs1">VALORES</h1>
                                <p class="ps">
                                        a. Íntegros: Ser auténticos e inquebrantables. <br>
                                        b. Respeto: Con todos nuestros clientes, compañeros de trabajo y amigos. <br>
                                        c. Colaboración: Ayudo y comparto conocimientos porque juntos somos más fuertes como equipo. <br>
                                        d. Eficacia: Mantener una cultura de priorizar las actividades correctamente para completar el objetivo en menor tiempo. <br>
                                        e. Eficiencia: Dedicación y enfoque en cada actividad, combinando las mejores prácticas para minimizar costos y tiempo en cada una de ellas. <br>
                                        f. Resilientes: Hacer frente a los problemas, superar los obstáculos y no ceder a la presión sin importar la situación. <br>
                                        g. Responsables: Asumir las consecuencias positivas y negativas de tus decisiones y actos, dando un paso al frente y aceptándolas sin excusas ni pretextos, pues no hay manera de crecer si de entrada los errores no son aceptados. <br>
                                        h. Proactivos: Siempre en busca del impacto positivo; lo que suceda en el futuro será resultado de tus acciones o de lo que dejaste de hacer. Siempre enfocado en hacer que las cosas sucedan.
                                </p>
                        </div>
             </div>
        </div>



     <h1 class="h1objetivos"> Noticias </h1>

     {% include 'bloque/noticia.html' %}

          <h1 class="h1objetivos"> Nuestras Certificaciones </h1>



  <div class="slider">
                     <div class="slide-track">
                               <div class="slide">
                                           <img src="static/css/img_y_video/espacio.jpg" height="100" width="250"/>
                               </div>
                               <div class="slide">
                                          <img src="static/css/img_y_video/Alcatel.png" height="100" width="250" alt="" />
                                </div>
                                  <div class="slide">
                                            <img src="static/css/img_y_video/Seneca.png" height="60" width="150" style="margin-top: 20px;" alt="" />
                                  </div>
                                <div class="slide">
                                       <img src="static/css/img_y_video/Axis-Communications-Logo.png" height="60" width="150"  style="margin-top: 20px;"  alt="" />
                                </div>
                                <div class="slide">
                                       <img src="static/css/img_y_video/bogen.png" height="60" width="150"  style="margin-top: 20px;" alt="" />
                                 </div>
                                 <div class="slide">
                                       <img src="static/css/img_y_video/kidde.jpg"height="100" width="150"  style="margin-bottom: 85px;" alt="" />
                                 </div>
                                 <div class="slide">
                                      <img src="static/css/img_y_video/condunet.png" height="60" width="150"  style="margin-top: 20px;" alt="" />
                                </div>
                                <div class="slide"> 
                                      <img src="static/css/img_y_video/edwards-logo.png" height="60" width="150"  style="margin-top: 20px;" alt="" />
                                </div>
                              <div class="slide">
                                      <img src="static/css/img_y_video/bcdvideo.png" height="50" width="150"  style="margin-top: 20px;" alt="" />
                              </div>
                               <div class="slide">
                                      <img src="static/css/img_y_video/FireLite_Alarms.png" height="100" width="250" alt="" />
                               </div>
                                  <div class="slide">
                                       <img src="static/css/img_y_video/Galaxy_Control.png" height="100" width="200" alt="" />
                                  </div>
                                <div class="slide">
                                       <img src="static/css/img_y_video/Hanwha-Techwin.png"  height="60" width="150"  style="margin-top: 20px;"  alt="" />
                                 </div>
                                <div class="slide">
                                        <img src="static/css/img_y_video/hubbell.png"  height="60" width="150"  style="margin-top: 20px;"  alt="" />
                                </div>
                                <div class="slide">
                                        <img src="static/css/img_y_video/LenelS2.png"  height="50" width="150"  style="margin-top: 30px;" alt="" />
                                </div>
                                <div class="slide">
                                        <img src="static/css/img_y_video/LevitonLogo.png"  height="50" width="150"  style="margin-top: 20px;"  alt="" />
                                </div>
                                <div class="slide">
                                        <img src="static/css/img_y_video/milestone.png" height="100" width="250" alt="" />
                                </div>
     
                                <div class="slide">
                                        <img src="static/css/img_y_video/panduit.png"  height="60" width="150"  style="margin-top: 20px;"  alt="" />
                                </div>
     
                        </div>
         </div>
    <br><br>
</div>


{% endblock %}