{% extends "misc/base.html" %}

{% block body %}
<br>
<br>
<br><br><br><br><br><br><br>
<h1 style="color: white; text-align: center;"> objetivos y noticias</h1>
<div class="container1">
    <div class="card">
      <img class="imgs1" src="static/css/mision.png" alt="ajio">
      <div class="intro">
        <h1 class="hs1">MISION</h1>
        <p class="ps">Nuestro compromiso ofrecer soluciones en proyectos
            de ingeniería
            en
            telecomunicaciones y seguridad digital con altos estándares tecnológicos, con tiempos de entrega inmejorables, calidad excepcional, vanguardia tecnológica a precios competitivos, buscando siempre exceder las expectativas de nuestros clientes y amigos.</p>
        
      </div>
    </div>
    <div class="card">
      <img class="imgs1" src="static/css/vision.png" alt="ajio">
      <div class="intro">
        <h1 class="hs1">VISION</h1>
        <p class="ps">a. Maximizar la rentabilidad del valor de las acciones de la empresa, sin perder de vista la totalidad de nuestra responsabilidad que ion nuestros dientes.<br>
            b. Trabajar todos los días en escalar nuestro reconocimiento tanto nacional como internacional como un excelente proveedor en el abanico de productos y servicios que ofrecemos.<br>
            c. mantener un crecimiento constante para cubrir a nivel nacional.<br>
            e internacional nuestros servicios.<br>
            d. Melora continua de tiempos de respuesta y atención en cada uno de los departamentos que integran la empresa hacia nuestros dientes en todos los aspectos, en el mínimo detalle.<br>
            e. Crear y reforzar alianzas estratégicas con nuestra cadena de proveedores buscando siempre el impacto de beneficio para la empresa, proveedores y para nuestros dientes y amigos.<br>
            f. Nuestro total compromiso de todo el perional de innovative-net de ser un ciudadano global, que respete las leyes de su ciudad, que aporte amabilidad a su comunidad, socialmente responsable, que contribuye y aporta para hacer un mundo mejor donde habitar.<br>
            g. Nuestro compromiso profesional por ser una empresa incluyente, con apego de todo el equipo Innovative-Net a políticas anticorrupción con cero tolerancia a malas prácticas.<br>
            h. Aportación de ideas constante para ser un excelente lugar para trabajar, en donde cada uno colabore en la inspiración para ser efectivo y dar lo mejor de sí tanto en lo personal como en equipo.</p>
        
      </div>
    </div>
    <div class="card">
      <img class="imgs1" src="static/css/valores.png" alt="valores">
      <div class="intro">
        <h1 class="hs1">VALORES</h1>
        <p class="ps">a. Integros: Ser auténticos e inquebrantables. <br>
            b. Respeto: con todos nuestro clientes, compañeros de trabajo y amigos. <br>
            c. Colaboración: ayudo y comparto conocimientos por que juntos somos más fuertes como equipo.<br>
            d. Eficacia: mantener una cultura de jerarquizar las actividades correctamente para completar el objetivo en menor tiempo.<br>
            e. Eficiencia: Dedicación y enfoque en cada actividad combinado las mejores prácticas para minimizar costos y tiempo en cada
            una de ellas. <br>
            f. Resilientes: hacer frente a los problemas, superar los obstáculo y no ceder a la presión sin importar la situación. <br>
            g. Responsable: dar por contabilizado las consecuencias positivas y negativas de tus deciiones y actos dando un pie al frente y aceptarlo, sin excusas o pretextos, pues no hay manera de crecer si de entrada los errores no son aceptados.<br>
            h. Pro-Activo: siempre en busca del Impacto positivo de lo que suceda en un futuro será en base a tus acciones o lo que dejaste de hacer. Siempre enfocado en Hacer que las cosas sucedan.</p>
        
      </div>
    </div>
  </div>
///////////

<style>
    body{
        background-color: black;
    }
     .container1{
        display: flex;
        flex-wrap: wrap;
      }
      .card{
        height: 100%;
        width: 388px;
        margin: 50px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        
      }
      .imgs1{
        height: 500%;
        width: 100%;
        border-radius:3px;
      }
      .intro{
        height: 70px;
        width: 100%;
        padding: 6px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        background: rgb(27, 27, 27, .5);
        color: white;
        transition: .5s;
      }
      .hs1{
        margin: 10px;
        font-size: 40px;
        }
        .ps{
          font-size: 9px;
          margin: 20px;
          visibility: hidden;
          opacity: 0;
        }
        span{
          font-weight: bold;
        }
        .card:hover{
          cursor: pointer;
        }
        .card:hover .intro{
          height: 400px;
          bottom: 600;
          background: black;
        }
        .card:hover .ps{
          opacity: 1;
          visibility: visible;
        } 
        .card:hover .imgs1{
          transform: scale(1.1) rotate(-3deg);
        }
       
        
</style>
{% endblock %}


