{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}">

    <script src="https://kit.fontawesome.com/aed5eee859.js" crossorigin="anonymous"></script>
    <script src="{% static "js/funciones.js" %}"></script>

    <title>Document</title>
</head>
<header id="header">
  <script>
    window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
      document.getElementById("header").style.backgroundColor = "#F1F7ED";
    } else {
      document.getElementById("header").style.backgroundColor = "transparent";
    }
  }
  </script>
  
    <nav class="navbar navbar-expand-lg >

<div class="container-fluid">
          <a href="{% url "index" %}"> <img class="logo" src="static/css/img/horizontal blanco.png" href="section1" ></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
          </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
              <li class="nav-item">
                <a class="nav-link" href="{% url "inicio" %}  " style="margin-left:170px; font-size: 20px; font-weight: bold;">Inicio</a>
              </li>
               
                </a>
                  <a class="nav-link" href="{% url "contacto" %}  " style="margin-left:170px; font-size: 20px; font-weight: bold;">Contacto</a>
                  <a class="nav-link" href="{% url "cartera_servicios" %}  " style="margin-left:170px; font-size: 20px; font-weight: bold;">Cartera de servicios</a>
                  <a class="nav-link" href="{% url "objetivos" %}  " style="margin-left:170px; font-size: 20px; font-weight: bold;">Objetivos</a>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</header>
<body>
  
    {% block body %}
    
    {% endblock %}
    
</body>
<footer>
  <div class="linea"></div>
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                
                  <div class="col-sm-6 col-md-3 item">
                      <h3 class="txtsss">LINKS RAPIDOS</h3>
                      <ul>
                          <li><a style="color:white;" href="https://www.innovative-net.mx/esp/lenel-partner/lenels2-value-added-resellers">LenelS2 Value Added Reseller</a></li>
                      </ul>
                  </div>
                
                  <center>
                  <div class="col-md-6 item text">
                    <h3 class="txtsss">Innovative net</h3>
                    <p class="txtsss">INTEGRANDO IDEAS, CREANDO SOLUCIONES.</p>
                </div>
              </center>
                  <div class="col-sm-6 col-md-3 item">
                      <h3 class="txtsss">INFORMACION LEGAL</h3>
                      <ul>
                          <li><a style="color:white;" href="https://www.innovative-net.mx/aviso-de-privacidad">Aviso de Privacidad</a></li><br>
                      </ul>
                  </div>
                 
                  <div class="item social">
                    <a href="https://www.facebook.com/InnovativeNett/?locale=es_LA"><i class="fa-brands fa-facebook fa-bounce" style="color: #005eff;"></i></a>
                    <a href="https://mx.linkedin.com/company/innovative-net"><i class="fa-brands fa-linkedin fa-beat-fade" style="color: #0374B3;"></i></a>
                    <a href="https://www.instagram.com/innovativenetmx/?hl=es-la"><i class="fa-brands fa-instagram fa-fade" style="color: #ff00f7;"></i></a>
                    <a href="https://twitter.com/innovativenetmx"><i class="fa-brands fa-twitter fa-bounce" style="color: #3ddee1;"></i></a>
                    <a href="{% url "index" %}"><img class="inovafoo" src="static/css/img/loginova.png"></a>
                  </div>
              </div>
              <p class="copyr">Innovative net © 2023</p>
          </div>
          
  </footer>
    
    </html>