<div class="container">
{% for noticia in noticias %}
        

                <div class="caja">
 
                    <div class="img-box">

                           <img >{{ noticia.imagen }}</img>

                    </div>
     
                    <div class="content">

                              <h2 class="leth2">{{ noticia.titulo }}</h2>

                            <p>
                               {{ noticia.fecha }}</p>
                               <p>
                                 {{ noticia.descripcion }}
                                     </p>
                   
                    </div>

             </div>   
  

      {% endfor %}
    </div>



