.logo{
    width: 170px;
    height: 80px;
  }
  .img_index{
    height: 100vh;
    background-image: url(img/fondo_index.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
 
  *{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
    
  }
  
  nav{
    background: #FFFFFF;
  }
  nav:after{
    content: '';
    clear: both;
    display: table;
  }
  nav ul{
    float: right;
    list-style: none;
    margin-right:40px;
    position: relative;
  }
  nav ul li{
    display: inline-block;
    background: white;
    margin: 0 5px;
  }
  nav ul li a{
    color:black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding:8px 15px;

  }
  nav ul li a:hover{
    border-radius: 5px;
    color:#E4971F;
    box-shadow: 0 0 5px #E4971F,
                0 0 5px #E4971F;
  }
  nav ul ul li a:hover{
   color:#E4971F;
   box-shadow: none;
  }
  nav ul ul{
    position: absolute;
    top:90px;
    border-top: 3px solid orange;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
  nav ul li:hover>ul{
    top: 70px;
    opacity: 1;
    visibility: visible;

  }
  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid orange;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  /*Esto es lo que lo hace responsivo*/

  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .icon {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
   .menu {
      display:flex;
      position: absolute;
      right: 100%;
      left: 100%;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .icon {
      display: block;
    }
  
    .dropdown {
      left: 100%;
      top: 30px;
      transform: translateX(35%);
    }
  
    
  }
  .texto{
    color: #E4971F;
    text-align: left;
    font-size: 90px;
    font-style:initial;
    
  }

    #header{
      position: fixed;
      width: 100%;
      z-index: 1000;
      }
      .impnos{
        text-align: right;
        } 
        .detnoso{
          width: 100%;
          height: auto;
          background-color: #F1F7ED;
        }
      .imgesp{
        width: 40%;
        height: auto;
      }
      .butnos{
        width: auto;
        letter-spacing: 2px;
        border: 2px solid white;
        border-radius: 30%;
        height: 50px;
        background-color:#587291;
        color: #fff;
        padding: 10px;
      }
      .pnos{
        font-size: 300%;
        text-align: center;
      }
      .hnos{
        text-align: center;
        font-size: 500%;
        color: #C16200;
      }
    .nos{
      width: 100%;
      height: 700px;
      background: #fff url(img/nos.jpg) center center/cover no-repeat content-box fixed;
    }
      .inf-ser{
        margin-left: 6%;
        width: 20%;
        
      }
      .btn-sol{
              background-color: orange;
              border-radius: 70px;
              border: 2px solid black;
          }
      .det_ser{
        width: 100%;
        height: auto;
        background-color: black;
      }
      .img_home{
        width: 100%;
        height: auto;
      }
      .desb{
      width: 100%;
      height: 100%;
      background: black;
      opacity: 2;
      }
      .servicios{
      width: 100%;
      height: auto;
      background-color: #E4971F;
      }
      .serv{
      text-align: center;
      color: white;
      }
      section {
      height: 100vh;
      }
      
      .content {
      display: grid;
      grid-template-columns: 15%;
      opacity: 1;
      transform: translate(0, 0);
      transition: all 1s;
      margin: auto;
      background-color: transparent;
      width: 50%;
      }
      
      
      .fadeTop {
      opacity: 0;
      transform: translate(0, 0vh);
      transition: all 1s;
      }
      
      .visible {
      opacity: 1;
      transform: translate(-120%, 0);
      }
      .a{
      width: 70%;
      margin-left: -150%;
      }
      .b{
      margin-left: -80%;
      width: 70%;
      }
      .c{
      margin-left: 95%;
      width: 70%;
      }
      .d{
      margin-left: 165%;
      width: 70%;
      }
      .e{
      margin-left: 336%;
      width: 60%;
      }
      .f{
      margin-left:400%;
      width: 100%;
      }
      .as{
      width: 13%;
      position: absolute;
      margin-top: -43.7%;
      margin-left: 41%;
      }
      .bs{
      width: 11%;
      position: absolute;
      margin-top: -42.5%;
      margin-left: 50%;
      }
      .cs{
      width: 13%;
      position: absolute;
      margin-top: -39.5%;
      margin-left: 46%;
      }
      .ds{
      width: 12.2%;
      position: absolute;
      margin-top: -51%;
      margin-left: 45.8%;
      }
      .es{
      width: 9.3%;
      position: absolute;
      margin-top: -48.8%;
      margin-left: 55.68%;
      }
      .fs{
      width: 18%;
      position: absolute;
      margin-top: -53.5%;
      margin-left: 54.55%;
      }
      section{
        display: flex;
        width: 60%;
        height: 100%;
      }
      section img{
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
      }
      section img:hover{
        cursor: crosshair;
        width: 100%;
        opacity: 1;
        filter: contrast(120%);
      }
      p{
        size: 20px;
        color: white;
      }